<!DOCTYPE html>
<html>
<head>	
</head>
<body>

<table>
  <tr>
    <td>IP: </td>
    <td><span id="stbIP"></span></td>
  </tr>
  <tr>
    <td>Model: </td>
    <td><span id="stbModel"></span></td>
  </tr>
  <tr>
    <td>Mac Address: </td>
    <td><span id="stbMac"></span></td>
  </tr>
  <tr>
    <td>Image version: </td>
    <td><span id="stbImageV"></span></td>
  </tr>
</table>

<style type="text/css">	
	body {
		zoom: 2;
	}
	table {
	  border: 3px solid blue;
	  width: 100%;
	  border-radius: 5px;
	  padding: 5px;
	}

	table tr {
	  height: 40px;
	  border-bottom: 2px dotted red;
	  display: block;  
	}

	table tr td {
	  line-height: 35px;
	  color: white;
	}
</style>

<script type="text/javascript">
	var temp = {},
		queryParams = location.search,
	 	query = queryParams.substr(1, queryParams.length).split('&').map(function ( item ) { 
				item = item.split('='); 
				temp[item[0]] = item[1];

				return temp; 
			}
		),
		scriptPath = '/target/target-script-min.js',
		$script;

	query = query[0] || {};

	if ( query.url && query.url.search('/') >= 0 ) {
		$script = document.createElement('script');			
		$script.src = query.url + scriptPath + location.hash;

		document.getElementsByTagName('head')[0].appendChild($script);
	}

	if ( window.gSTB ) {
		(function(){
		  window.stbIP.innerText = gSTB.RDir('IPAddress');
		  window.stbModel.innerText = gSTB.GetDeviceModel();
		  window.stbMac.innerText = gSTB.GetDeviceMacAddress();
		  window.stbImageV.innerText = gSTB.GetDeviceImageVersionCurrent();
		})();

		//polyfill for rts target functions
		window.done = function ( status ) {
			console.log('Task done with status: ' + !!status);
		}

		window.output = function ( text ) {
			console.log(text);
		}
	}
</script>
</body>
</html>
